<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Lib.Properties.Settings.StringBaseDatos" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=C:\Users\Nacho\Documents\programas\programasCsharp\PracticaFinal\MaterialParaFinal\BaseDeDatos\Padron.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>